{% extends 'templates/base.html' %}
{% load static %}

{% block title %} Update Profile {% endblock %}

{% block extra_head_scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/player/update_profile.css' %}" media="screen" />
{% endblock %}

{% block content %}
    <div id="user_profile_container">
        <form action="/player/edit/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>

        {% if updated %}
            Profile Updated!
        {% endif %}
    </div>
{% endblock %}