{% load static %}
<!DOCTYPE html>
<html>

{% block style %}
{% endblock %}

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" media="screen" />
    {% block extra_head_scripts %} {% endblock %}
</head>
<body>
    <div id="menu_container">
        <div class="menu"><a href="#room" class="active">Rooms</a></div>
        <div class="menu"><a href="#profile">Profile</a></div>
        <div class="menu"><a href="#settings">Settings</a></div>
        <div class="menu"><a href="{% url 'logout' %}">Log Out</a></div>
    </div>
    <div id="header">
        <h1>{% block header_text %}{% endblock %}</h1>
        {% if user.is_authenticated %}
            <div> Hi {{ user.username }}</div>
        {% endif %}
    </div>
    <div id="container">
        {% block content %}
        {% endblock %}
    </div>
    {% block extra_body %}{% endblock %}

    {% block scripts %}
        <script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
    {% endblock %}
</body>
</html>