{% extends 'templates/base.html' %}
{% load static %}

{% block title %}
    估歌詞
{% endblock %}

{% block header_text %}
    估歌詞
{% endblock %}

{% block extra_head_scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/room/play.css' %}" media="screen" />
{% endblock %}

{% block content %}

    <div id='guess_container'>
        <div id="guess_entries"></div>
        <div id="guess_box_container">
            <input id="input" type="text"></input>
            <button onclick="sendText()">Send</button>
        </div>

    </div>
    <div id='lyrics_play'></div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        
        $(document).ready(function() {
            $('#input').keydown(function(event) {
                if (event.keyCode == 13) {
                    sendText();
                    return false;
                 }
            });
        });

        var username = '{{ user.username }}';
        var socket = new WebSocket("ws://" + window.location.host + "/{{ room.id }}/?username=" + username);

        var sendText = function(){
            var message = $('#input').val();
            $('#input').val('');
            socket.send(JSON.stringify({"command": "guess", "text": message}));
        }
        socket.onmessage = function(e) {
            var data = JSON.parse(e.data)

            if(data.username == username && data.command == 'join'){
                for ( var i = 0; i < data.prev_entries.length ; ++i ) {
                    var prev_entry = data.prev_entries[i];
                    $('<div>').html(prev_entry.nickname + ': ' + prev_entry.text).appendTo($('#guess_entries'));
                }

                // show the whole lyrics now

                var lyrics_entries = data.guessed_lyrics;
                var lineIdx = 0;
                var div = $('<div>').attr('id', 'line_'+lineIdx).addClass('line').appendTo('#lyrics_play');

                lyrics_entries.forEach(function(entry, idx){

                    var span = $('<span>').html(entry).attr('id', 'entry_'+idx).addClass('word');

                    if (entry == '?') span.addClass('hidden');

                    span.attr('lang', '{{ song.language }}');

                    if (entry == '\n'){
                        lineIdx++;
                        div = $('<div>').attr('id', 'line_'+lineIdx).addClass('line').appendTo('#lyrics_play');
                    }else{
                        span.appendTo('#line_'+lineIdx);
                    }
                })
            }

            if(data.username != username && data.command == 'join'){
                $('<div>').html('-- ' + data.nickname + ' joined --').addClass('event_join').appendTo($('#guess_entries'));
            }

            if (data.command == 'guess'){
                $('<div>').html(data.nickname + ': ' + data.word).appendTo($('#guess_entries'));
                entry = data.word;
                data.positions.forEach(function(position){
                    $('#entry_' + position).text(data.word).removeClass('hidden');
                })

            }

            if ( data.command == 'leave' ){
                $('<div>').html('-- ' + data.nickname + ' left --').addClass('event_left').appendTo($('#guess_entries'));
            }
            $('#guess_entries').animate({scrollTop: $('#guess_entries').prop('scrollHeight')});


        }
        socket.onopen = function() {
            socket.send(
                JSON.stringify({"command": "join", "username": username, "text": ""})
            );
        }
        // Call onopen directly if socket is already open
        if (socket.readyState == WebSocket.OPEN) socket.onopen();
    </script>
{% endblock %}