{% extends 'templates/base.html' %}
{% load static %}

{% block title %}
    估歌詞
{% endblock %}

{% block header_text %}
    估歌詞
{% endblock %}

{% block extra_head_scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/room/play.css' %}" media="screen" />
{% endblock %}

{% block content %}

    <div id="guess_entries"></div>
    <div id="guess_box_container">
        <input id="input" type="text"></input>
        <button onclick="sendText()">Send</button>
    </div>

    <div id='lyrics_play'></div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        
        $(document).ready(function() {
            $('#input').keydown(function(event) {
                if (event.keyCode == 13) {
                    sendText();
                    return false;
                 }
            });
        });

        var userId = {{ user.id }};
        var socket = new WebSocket("ws://" + window.location.host + "/{{ game.id }}/?user_id=" + userId.toString());

        var sendText = function(){
            var message = $('#input').val();
            $('#input').val('');
            socket.send(JSON.stringify({"command": "guess", "text": message}));
        }
        socket.onmessage = function(e) {
            var data = JSON.parse(e.data)

            if(data.user_id == userId && data.command == 'join'){

                // show prev entries
                $('#guess_entries').html(data.prev_entries_html);

                // show active users
                data.active_players.forEach(function(user){
                    if (user.player__id != userId) {
                        $('<div>').html('-- ' + user.player__nickname + ' joined --').addClass('event_join').appendTo($('#guess_entries'));
                    }
                })

                // show the whole lyrics now
                $('#lyrics_play').html(data.lyrics_html);

            }

            if(data.user_id != userId && data.command == 'join'){
                $('<div>').html('-- ' + data.nickname + ' joined --').addClass('event_join').appendTo($('#guess_entries'));
            }

            if (data.command == 'guess'){
                var wordSpan = $('<span>').html(data.word);
                var entryDiv = $('<div>').html(data.nickname + ': ').addClass('entry');

                // add to list of guessed entries
                if (data.guessed){
                    wordSpan.addClass('guessed');
                }
                if (data.positions_words.length > 0) {
                    wordSpan.addClass('correct');
                }
                wordSpan.appendTo(entryDiv);
                entryDiv.appendTo($('#guess_entries'));

                // add to lyrics window if it's not guessed and it's correct
                if ( !data.guessed ) {
                    data.positions_words.forEach(function(entry){
                        $('#word_' + entry.position).text(entry.word).removeClass('hidden').addClass('correct_guess');
                    })
                }

            }

            if ( data.command == 'leave' ){
                $('<div>').html('-- ' + data.nickname + ' left --').addClass('event_left').appendTo($('#guess_entries'));
            }
            $('#guess_entries').animate({scrollTop: $('#guess_entries').prop('scrollHeight')});


        }
        socket.onopen = function() {
            socket.send(
                JSON.stringify({"command": "join", "user_id": userId, "text": ""})
            );
        }
        // Call onopen directly if socket is already open
        if (socket.readyState == WebSocket.OPEN) socket.onopen();
    </script>
{% endblock %}