/* table styles */
table {
    display: table;
}
thead {
    display: table-header-group;
    font-weight: bold;
    background-color: #222;
    color: white;
}
tbody {
    display: table-row-group;
}
tr {
    display: table-row;
}
td {
    display: table-cell;
    text-align: center;
    border: solid 1px #ddd;
    padding: 5px 10px;
}

tr a{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ddd;
    color: black;
    text-decoration: underline;

}

/* cell styles */
.id {
    width: 30px;
}

.name {
    text-align: left;
    padding-left: 10px;
    width: 250px;
}

.owner {
    width: 100px;
}

.n_players, .n_games, .status {
    width: 60px;
}

.timestamp {
    width: 160px;
}