#guess_entries {
    position: fixed;
    overflow-y:scroll;
    left: 10px;
    top: 200px;
    bottom: 80px;
    width: 200px;
}
#guess_box_container {
    position: fixed;
    bottom: 10px;
    left: 0px;
    margin: 10px;
    width: 200px;
}
#lyrics_play {
    left: 0px;
    top: 0px;
    right: 0px;
    height: 100%;
    margin: 200px 10px 10px 220px;
    min-width: 300px;
    max-width: 600px;
    overflow-y: auto;
}
.word {
    display: inline-block;
    margin: 2px;
    min-width: 16px;
}

#input {
    width: 100px;
}
.hidden {
    color: gray;
}

.event_join {
    color: green;
}
.event_left {
    color: red;
}

.entry span:not(.guessed):not(.correct) {
    background-color: #ff9999;
    font-weight: bold;
}

.guessed.correct {
    background-color: #99ff99;
}

.correct:not(.guessed) {
    background-color: #99ff99;
    font-weight: bold;
}

.guessed:not(.correct) {
    background-color: #ff9999;
}

.correct_guess {
    background-color: white;
    -webkit-animation-name: guess; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    animation-name: guess;
    animation-duration: 8s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes guess {
    from {background-color: #99ff99;}
    to {background-color: white;}
}

/* Standard syntax */
@keyframes guess {
    from {background-color: #99ff99;}
    to {background-color: white;}
}