#guess_container {
    position: relative;
    float: left;
    width: 200px;
    max-height: calc(100vh - 200px);
}
#guess_entries {
    position: relative;
    overflow-y:auto;
    height: calc(100vh - 300px);
    margin-bottom: 50px;
}
#guess_box_container {
    position: absolute;
    bottom: 10px;
    left: 0;
}
#lyrics_play {
    min-width: 300px;
    max-width: 600px;
    max-height: 90%;
    overflow-y: auto;
}
.word {
    display: inline-block;
    margin: 2px;
    min-width: 16px;
}

#input {
    width: 100px;
}
.hidden {
    color: gray;
}

.event_join {
    color: green;
}
.event_left {
    color: red;
}

.entry span:not(.guessed):not(.correct) {
    background-color: #ff9999;
    font-weight: bold;
}

.guessed.correct {
    background-color: #99ff99;
}

.correct:not(.guessed) {
    background-color: #99ff99;
    font-weight: bold;
}

.guessed:not(.correct) {
    background-color: #ff9999;
}

.correct_guess {
    background-color: white;
    -webkit-animation-name: guess; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: guess;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes guess {
    from {background-color: #99ff99;}
    to {background-color: white;}
}

/* Standard syntax */
@keyframes guess {
    from {background-color: #99ff99;}
    to {background-color: white;}
}